In [1]:
# Escuela de Negocios y Administración Pública
# Facultad de Ciencias Económicas - Universidad de Buenos Aires
# Esp. Cr. Alberto Falco

In [ ]:
# Instalación de liberías.

In [2]:
# Importación de liberías.
import pandas as pd
import numpy as np

In [42]:
pd.read_csv?

In [76]:
# Lectura del archivo csv.
df = pd.read_csv("database_combined.csv", dtype={"Customer ID":"Int64",
                                                 "Age":"Int64",
                                                 "Contact Number":"object",
                                                 "TransactionID":"object"})
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Label
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,1313.38,5/26/2006,4/23/2023,1,12/7/2023,Withdrawal,1457.61,2770.99,0
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,5988.46,3/2/2006,1/27/2023,2,4/27/2023,Deposit,1660.99,7649.45,0
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,8277.88,7/19/2015,1/1/2023,3,4/5/2023,Deposit,839.91,7437.97,0
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,7487.21,1/30/2008,8/2/2023,4,7/28/2023,Withdrawal,4908.89,12396.10,0
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,6993.55,5/25/2021,3/27/2023,5,1/16/2023,Transfer,589.07,6404.48,0

In [78]:
# Lectura de registros con label = 1.
df[df["Label"] == 1]

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Label
8,9,Daniel,Moore,52,Male,Address_9,Indianapolis,NaN,daniel.moore@kag.com,Current,1109.30,NaN,11/5/2023,NaN,9/28/2023,Withdrawal,2036.771813,340.74,1
12,13,Margaret,Robinson,63,Female,Address_13,Columbus,19458794866,margaret.robinson@kag.com,Savings,5402.04,NaN,11/21/2023,13,12/2/2023,Deposit,3070.580000,NaN,1
23,24,Holly,NaN,30,Female,Address_24,San Antonio,19458794877,charles.adams@kag.com,Savings,3616.88,NaN,8/10/2023,24,1/25/2023,Deposit,4395.730000,8012.61,1
26,27,Lisa,Wilson,61,NaN,Address_27,NaN,19458794880,lisa.wilson@kag.com,Savings,NaN,7/27/2006,12/31/2023,27,NaN,Withdrawal,1594.080000,3767.44,1
33,34,Jessica,Davis,56,Other,Address_34,Oklahoma City,19458794887,jessica.davis@kag.com,NaN,6439.03,8/23/2005,9/7/2023,34,12/11/2023,Transfer,4135.400000,10574.43,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4917,4918,Nancy,Torres,28,Female,Address_4918,Phoenix,19458799771,nancy.torres@kag.com,Current,8945.14,12/24/2004,9/23/2023,NaN,4/19/2023,Transfer,3445.120000,5500.02,1
4923,4924,Susan,Nelson,30,Female,Address_4924,Houston,19458799777,susan.nelson@kag.com,Current,8586.29,3/18/2005,NaN,4924,3/30/2023,Withdrawal,NaN,5084.72,1
4966,4967,Carol,Sanchez,35,Male,Address_4967,Phoenix,19458799820,carol.sanchez@kag.com,NaN,NaN,1/19/2010,NaN,4967,12/6/2023,Withdrawal,1191.320000,10271.99,1
4975,4976,Andrew,Mitchell,47,Male,NaN,Omaha,19458799829,andrew.mitchell@kag.com,Current,6690.69,2/25/2003,10/8/2023,4976,10/16/2018,Deposit,3550.010000,3140.68,1
4995,4996,Emily,Sanchez,21,Other,Address_4996,Mesa,NaN,emily.sanchez@kag.com,Savings,5564.12,3/12/2020,7/14/2023,4996,11/29/2023,Withdrawal,4181.578070,7177.03,1

In [80]:
# Control de tipos de datos.
df.dtypes

Customer ID                            Int64
First Name                            object
Last Name                             object
Age                                    Int64
Gender                                object
Address                               object
City                                  object
Contact Number                        object
Email                                 object
Account Type                          object
Account Balance                      float64
Date Of Account Opening               object
Last Transaction Date                 object
TransactionID                         object
Transaction Date                      object
Transaction Type                      object
Transaction Amount                   float64
Account Balance After Transaction    float64
Label                                  int64
dtype: object