In [ ]:
# Escuela de Negocios y Administración Pública
# Facultad de Ciencias Económicas - Universidad de Buenos Aires
# Esp. Cr. Alberto Falco

In [3]:
# Instalación de librerías.
! pip install Faker

Collecting Faker
  Downloading faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.2)
Downloading faker-37.1.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 29.0 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-37.1.0

In [4]:
# Importacion de librerias.
import pandas as pd
import numpy as np
from faker import Faker

In [5]:
# Lectura del archivo csv.
df = pd.read_csv("./Comprehensive_Banking_Database.csv")
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023,1
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023,1
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023,1
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023,1
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023,1

In [6]:
# Impresión de atributos.
print(df.columns)

Index(['Customer ID', 'First Name', 'Last Name', 'Age', 'Gender', 'Address',
       'City', 'Contact Number', 'Email', 'Account Type', 'Account Balance',
       'Date Of Account Opening', 'Last Transaction Date', 'TransactionID',
       'Transaction Date', 'Transaction Type', 'Transaction Amount',
       'Account Balance After Transaction', 'Branch ID', 'Loan ID',
       'Loan Amount', 'Loan Type', 'Interest Rate', 'Loan Term',
       'Approval/Rejection Date', 'Loan Status', 'CardID', 'Card Type',
       'Credit Limit', 'Credit Card Balance', 'Minimum Payment Due',
       'Payment Due Date', 'Last Credit Card Payment Date', 'Rewards Points',
       'Feedback ID', 'Feedback Date', 'Feedback Type', 'Resolution Status',
       'Resolution Date', 'Anomaly'],
      dtype='object')

In [7]:
# Reducción de atributos.
columns_to_drop = ['Branch ID', 'Loan ID',
       'Loan Amount', 'Loan Type', 'Interest Rate', 'Loan Term',
       'Approval/Rejection Date', 'Loan Status', 'CardID', 'Card Type',
       'Credit Limit', 'Credit Card Balance', 'Minimum Payment Due',
       'Payment Due Date', 'Last Credit Card Payment Date', 'Rewards Points',
       'Feedback ID', 'Feedback Date', 'Feedback Type', 'Resolution Status',
       'Resolution Date', 'Anomaly']
df = df.drop(columns=columns_to_drop)

In [8]:
# Impresión de primeros registros.
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,1313.38,5/26/2006,4/23/2023,1,12/7/2023,Withdrawal,1457.61,2770.99
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,5988.46,3/2/2006,1/27/2023,2,4/27/2023,Deposit,1660.99,7649.45
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,8277.88,7/19/2015,1/1/2023,3,4/5/2023,Deposit,839.91,7437.97
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,7487.21,1/30/2008,8/2/2023,4,7/28/2023,Withdrawal,4908.89,12396.10
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,6993.55,5/25/2021,3/27/2023,5,1/16/2023,Transfer,589.07,6404.48

In [9]:
# Shape del dataframe resultante.
df.shape

(5000, 18)

In [12]:
# Obtención aleatoria de 500 registros.
# Se utiliza la librería numpy.

# Fijación de la semilla.
np.random.seed(42)

# Se obtiene la muestra aleatoria de los 500 registros.
df_sample = df.sample(n=500)

# Head del df_sample.
df_sample.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
1501,1502,Kevin,Jackson,50,Female,Address_1502,Kansas City,19458796355,kevin.jackson@kag.com,Current,9011.73,1/30/2003,1/29/2023,1502,10/18/2023,Transfer,144.47,8867.26
2586,2587,Jennifer,Johnson,29,Other,Address_2587,Las Vegas,19458797440,jennifer.johnson@kag.com,Current,3307.40,3/23/2019,8/25/2023,2587,6/26/2023,Transfer,3202.17,6509.57
2653,2654,Emily,Williams,69,Female,Address_2654,El Paso,19458797507,emily.williams@kag.com,Current,6006.41,11/22/2002,9/30/2023,2654,10/23/2023,Withdrawal,1504.35,7510.76
1055,1056,Margaret,Taylor,59,Female,Address_1056,New York,19458795909,margaret.taylor@kag.com,Savings,4273.03,10/25/2020,1/4/2023,1056,5/19/2023,Withdrawal,2202.17,2070.86
705,706,Brian,Allen,20,Female,Address_706,Boston,19458795559,brian.allen@kag.com,Savings,506.61,10/20/2016,8/28/2023,706,3/26/2023,Withdrawal,4178.60,-3671.99

In [248]:
# Instaciación del objeto faker.
fake = Faker()

In [257]:
# Función para generar valores vacíos.
def na_generator(x):
  if fake.boolean(chance_of_getting_true=50):
    return x
  else:
    return ""

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample.map(func=na_generator)

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
1501,,,Jackson,,,Address_1502,Kansas City,19458796355,kevin.jackson@kag.com,Current,,,,,,Transfer,144.47,
2586,2587,,Johnson,29,,Address_2587,Las Vegas,19458797440,jennifer.johnson@kag.com,Current,,,,,6/26/2023,Transfer,,6509.57
2653,2654,Emily,Williams,,Female,Address_2654,,19458797507,emily.williams@kag.com,,6006.41,,,,,Withdrawal,1504.35,7510.76
1055,,Margaret,,59,Female,Address_1056,New York,19458795909,,,4273.03,10/25/2020,1/4/2023,,5/19/2023,,2202.17,
705,706,Brian,,20,Female,,Boston,,,,506.61,,8/28/2023,,3/26/2023,Withdrawal,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3928,3929,Ashley,Taylor,60,Male,Address_3929,Indianapolis,19458798782,ashley.taylor@kag.com,,5824.88,,,,5/28/2023,Deposit,,
544,545,Amanda,,,,,,19458795398,amanda.sanchez@kag.com,,,7/22/2016,,545,1/10/2023,,3335.23,
367,,Ronald,,,Male,,Fort Worth,19458795221,ronald.smith@kag.com,,6213.03,11/19/2004,7/7/2023,368,,Withdrawal,,8113.11
1612,,Emily,,,Other,,,,emily.thompson@kag.com,Savings,5881.8,3/25/2013,,1613,,,,3623.39
3550,,Brian,Rivera,,,,Phoenix,,,,,9/11/2010,4/22/2023,3551,,Withdrawal,,

In [343]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.street_address()
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["Address"].apply(func=fake_applier)

1501                       Address_1502
2586                   433 Jill Springs
2653                       Address_2654
1055                       Address_1056
705      01338 Anna Stravenue Suite 379
                     ...
3928                       Address_3929
544                         Address_545
367     74517 Kimberly Freeway Apt. 959
1612                       Address_1613
3550                       Address_3551
Name: Address, Length: 500, dtype: object

In [344]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.email()
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["Email"].apply(func=fake_applier)

1501         kevin.jackson@kag.com
2586      figueroajohn@example.org
2653        emily.williams@kag.com
1055      garzaanthony@example.org
705     williamjohnson@example.org
                   ...
3928         ashley.taylor@kag.com
544             mark07@example.net
367           ronald.smith@kag.com
1612       omarpadilla@example.net
3550          brian.rivera@kag.com
Name: Email, Length: 500, dtype: object

In [346]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.first_name()
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["First Name"].apply(func=fake_applier)

1501     Kevin
2586     Angel
2653      John
1055      Jill
705      Brian
         ...
3928    Ashley
544     Amanda
367     Marcus
1612    Mariah
3550    Joshua
Name: First Name, Length: 500, dtype: object

In [348]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.last_name()
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["Last Name"].apply(func=fake_applier)

1501    Jackson
2586    Johnson
2653    Sanchez
1055      Doyle
705       Allen
         ...
3928     Taylor
544     Sanchez
367      Morris
1612      Rivas
3550    Ramirez
Name: Last Name, Length: 500, dtype: object

In [350]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.city()
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["City"].apply(func=fake_applier)

1501                Kansas City
2586            Lake Joshuabury
2653               Lake Joyside
1055                Johnsonland
705                 New Carolyn
                 ...
3928                  Rossville
544                 Edwardsview
367                 Lake Sandra
1612    Port Christopherchester
3550                   Lisaside
Name: City, Length: 500, dtype: object

In [357]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.date(pattern="%m/%d/%Y")
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["Transaction Date"].apply(func=fake_applier)

1501    10/18/2023
2586    05/21/1971
2653    07/23/1983
1055    10/08/2010
705      3/26/2023
           ...
3928     5/28/2023
544      1/10/2023
367     11/04/1987
1612    12/27/2015
3550    06/10/1985
Name: Transaction Date, Length: 500, dtype: object

In [371]:
# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return fake.random_int(min=10, max=100)
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
df_sample["Age"].apply(func=fake_applier)

1501    50
2586    13
2653    69
1055    41
705     27
        ..
3928    60
544     25
367     20
1612    44
3550    66
Name: Age, Length: 500, dtype: int64

In [441]:
# Obtención de media y desvio estandar.
mean = np.mean(df_sample["Transaction Amount"])
std_dev = np.std(df_sample["Transaction Amount"])

# Función para asignar valores fake.
def fake_applier(x, scope=50):
  if fake.boolean(chance_of_getting_true=scope):
    return np.random.normal(loc=mean, scale=std_dev)
  else:
    return x

# Aplicación de la función a todas las celdas.
Faker.seed(42)
np.random.seed(42)
df_sample["Transaction Amount"].apply(func=fake_applier)

1501     144.470000
2586    3060.508259
2653    2147.270685
1055    2202.170000
705     3277.642369
           ...
3928    1328.341809
544     2984.434103
367     1900.080000
1612    2258.410000
3550    2703.020000
Name: Transaction Amount, Length: 500, dtype: float64