In [1]:
# Escuela de Negocios y Administración Pública
# Facultad de Ciencias Económicas - Universidad de Buenos Aires
# Esp. Cr. Alberto Falco

In [2]:
# Instalación de librerías.
! pip install Faker --upgrade

Requirement already satisfied: Faker in /usr/local/lib/python3.11/dist-packages (37.1.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.2)

In [3]:
# Importacion de librerias.
import pandas as pd
import numpy as np
from faker import Faker
from sklearn.model_selection import train_test_split

In [4]:
# Lectura del archivo csv.
df = pd.read_csv("./Comprehensive_Banking_Database.csv")
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023,1
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023,1
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023,1
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023,1
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023,1

In [5]:
# Impresión de atributos.
print(df.columns)

Index(['Customer ID', 'First Name', 'Last Name', 'Age', 'Gender', 'Address',
       'City', 'Contact Number', 'Email', 'Account Type', 'Account Balance',
       'Date Of Account Opening', 'Last Transaction Date', 'TransactionID',
       'Transaction Date', 'Transaction Type', 'Transaction Amount',
       'Account Balance After Transaction', 'Branch ID', 'Loan ID',
       'Loan Amount', 'Loan Type', 'Interest Rate', 'Loan Term',
       'Approval/Rejection Date', 'Loan Status', 'CardID', 'Card Type',
       'Credit Limit', 'Credit Card Balance', 'Minimum Payment Due',
       'Payment Due Date', 'Last Credit Card Payment Date', 'Rewards Points',
       'Feedback ID', 'Feedback Date', 'Feedback Type', 'Resolution Status',
       'Resolution Date', 'Anomaly'],
      dtype='object')

In [6]:
# Reducción de atributos.
columns_to_drop = ['Branch ID', 'Loan ID',
       'Loan Amount', 'Loan Type', 'Interest Rate', 'Loan Term',
       'Approval/Rejection Date', 'Loan Status', 'CardID', 'Card Type',
       'Credit Limit', 'Credit Card Balance', 'Minimum Payment Due',
       'Payment Due Date', 'Last Credit Card Payment Date', 'Rewards Points',
       'Feedback ID', 'Feedback Date', 'Feedback Type', 'Resolution Status',
       'Resolution Date', 'Anomaly']
df = df.drop(columns=columns_to_drop)

In [7]:
# Impresión de primeros registros.
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,1313.38,5/26/2006,4/23/2023,1,12/7/2023,Withdrawal,1457.61,2770.99
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,5988.46,3/2/2006,1/27/2023,2,4/27/2023,Deposit,1660.99,7649.45
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,8277.88,7/19/2015,1/1/2023,3,4/5/2023,Deposit,839.91,7437.97
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,7487.21,1/30/2008,8/2/2023,4,7/28/2023,Withdrawal,4908.89,12396.10
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,6993.55,5/25/2021,3/27/2023,5,1/16/2023,Transfer,589.07,6404.48

In [8]:
# Shape del dataframe resultante.
df.shape

(5000, 18)

In [9]:
# Obtención aleatoria de 500 registros.
# Se utiliza la librería scikit learn.

# Se obtiene la muestra aleatoria de los 500 registros.
df_1, df_sample = train_test_split(df, test_size=500, random_state=42)

# Head del df_sample.
df_sample.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
1501,1502,Kevin,Jackson,50,Female,Address_1502,Kansas City,19458796355,kevin.jackson@kag.com,Current,9011.73,1/30/2003,1/29/2023,1502,10/18/2023,Transfer,144.47,8867.26
2586,2587,Jennifer,Johnson,29,Other,Address_2587,Las Vegas,19458797440,jennifer.johnson@kag.com,Current,3307.40,3/23/2019,8/25/2023,2587,6/26/2023,Transfer,3202.17,6509.57
2653,2654,Emily,Williams,69,Female,Address_2654,El Paso,19458797507,emily.williams@kag.com,Current,6006.41,11/22/2002,9/30/2023,2654,10/23/2023,Withdrawal,1504.35,7510.76
1055,1056,Margaret,Taylor,59,Female,Address_1056,New York,19458795909,margaret.taylor@kag.com,Savings,4273.03,10/25/2020,1/4/2023,1056,5/19/2023,Withdrawal,2202.17,2070.86
705,706,Brian,Allen,20,Female,Address_706,Boston,19458795559,brian.allen@kag.com,Savings,506.61,10/20/2016,8/28/2023,706,3/26/2023,Withdrawal,4178.60,-3671.99

In [10]:
# Instaciación del objeto faker.
fake = Faker()

In [11]:
# Función para asignar valores vacios o fake.
def fake_applier(x, att=0, scope=50, m=0, std=0):
  fake_attributes = {0: "",
                     1: fake.street_address(),
                     2: fake.email(),
                     3: fake.first_name(),
                     4: fake.last_name(),
                     5: fake.city(),
                     6: fake.date(pattern="%m/%d/%Y"),
                     7: fake.random_int(min=10, max=100),
                     8: np.random.normal(loc=m, scale=std)
                     }

  if fake.boolean(chance_of_getting_true=scope):
    return fake_attributes[att]
  else:
    return x

In [12]:
# Objeto df_sample_fake.
df_sample_fake = df_sample.copy()

# Campos a asignar valores fake.
attributes_to_assign = {1: "Address",
                        2: "Email",
                        3: "First Name",
                        4: "Last Name",
                        5: "City",
                        6: "Transaction Date",
                        7: "Age",
                        8: "Transaction Amount"
                        }

# Obtención de media y desvio estandar.
mean = np.mean(df_sample["Transaction Amount"])
std_dev = np.std(df_sample["Transaction Amount"])

# Asignación de valores fake.
Faker.seed(42)
for k, v in attributes_to_assign.items():
  if k == 8:
    df_sample_fake[v] = df_sample[v].apply(func=fake_applier, args=(k, 10, mean, std_dev))
  else:
    df_sample_fake[v] = df_sample[v].apply(func=fake_applier, args=(k, 10))

In [13]:
# Control de semilla y asignaciones.
for k, v in attributes_to_assign.items():
  print(v, *df_sample_fake[df_sample[v] != df_sample_fake[v]].index.sort_values())

Address 43 149 177 221 350 354 426 468 485 497 530 599 633 653 677 811 1128 1351 1589 1620 1741 1756 1782 1807 2099 2217 2328 2339 2370 2561 2609 3008 3040 3044 3248 3668 3752 3821 3936 4153 4209 4749 4758 4771
Email 69 279 297 485 544 589 626 742 911 1144 1210 1293 1335 1351 1485 1632 1647 1654 1723 1869 1962 2123 2194 2225 2642 2653 2727 2754 3044 3197 3238 3268 3289 3496 3504 3523 3625 3661 3684 3752 3789 3944 4092 4139 4152 4209 4256 4264 4605 4635 4647 4692 4797 4863 4902
First Name 23 144 199 227 416 794 811 1001 1020 1029 1210 1417 1434 1451 1590 1618 2223 2225 2280 2292 2561 2659 2672 2680 2801 2809 2826 2893 2948 3684 3918 3970 4062 4074 4118 4121 4673 4686 4767 4771 4842
Last Name 43 80 84 157 177 228 240 416 501 538 544 626 877 893 1052 1055 1144 1235 1242 1375 1491 1615 1650 1741 1833 2016 2280 2339 2561 2642 2754 2801 2907 2939 2948 3238 3274 3429 3585 3591 3668 4074 4395 4439 4483 4520 4524 4635 4686 4724
City 26 69 219 230 290 416 642 657 877 964 1001 1052 1057 1144 1335 1424 1550 1869 2099 2351 2753 2843 2887 2907 3006 3039 3274 3276 3543 3574 3599 3664 3752 3794 3899 3941 3970 4183 4212 4415 4445 4715 4878
Transaction Date 106 168 426 468 471 491 599 1175 1197 1417 1419 1491 1501 1590 1803 1807 2094 2121 2138 2164 2178 2215 2417 2483 2527 2623 2653 2804 2876 3580 3585 3789 3794 3944 3970 4257 4878 4975
Age 26 219 254 367 373 977 1052 1057 1090 1175 1370 1413 1424 1617 1755 1803 2123 2329 2417 2480 2642 2680 2754 2845 2939 3040 3049 3106 3135 3248 3274 3295 3321 3340 3557 3585 3601 3668 3673 3682 3821 3899 3941 3944 4077 4120 4520 4613 4628 4647 4701
Transaction Amount 8 84 90 100 179 199 227 296 354 577 838 915 1128 1144 1187 1197 1231 1405 1434 1589 1872 2018 2146 2223 2377 2450 2527 2584 2609 2817 3106 3107 3114 3238 3289 3425 3543 3599 3668 3682 3684 3829 3862 4092 4120 4524 4635 4995

In [14]:
# Head del df.
df_sample_fake.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction
1501,1502,Kevin,Jackson,50,Female,Address_1502,Kansas City,19458796355,kevin.jackson@kag.com,Current,9011.73,1/30/2003,1/29/2023,1502,01/16/2002,Transfer,144.47,8867.26
2586,2587,Jennifer,Johnson,29,Other,Address_2587,Las Vegas,19458797440,jennifer.johnson@kag.com,Current,3307.40,3/23/2019,8/25/2023,2587,6/26/2023,Transfer,3202.17,6509.57
2653,2654,Emily,Williams,69,Female,Address_2654,El Paso,19458797507,ewilson@example.org,Current,6006.41,11/22/2002,9/30/2023,2654,01/06/2017,Withdrawal,1504.35,7510.76
1055,1056,Margaret,Curry,59,Female,Address_1056,New York,19458795909,margaret.taylor@kag.com,Savings,4273.03,10/25/2020,1/4/2023,1056,5/19/2023,Withdrawal,2202.17,2070.86
705,706,Brian,Allen,20,Female,Address_706,Boston,19458795559,brian.allen@kag.com,Savings,506.61,10/20/2016,8/28/2023,706,3/26/2023,Withdrawal,4178.60,-3671.99

In [15]:
# Asignación de valores vacios.
Faker.seed(42)
df_sample_fake = df_sample_fake.map(func=fake_applier, att=0, scope=10)

In [16]:
# Generación de label si existen diferencias en los registros.
((len(df_sample.columns) - np.sum(df_sample == df_sample_fake, axis=1)) != 0) * 1

1501    1
2586    1
2653    1
1055    1
705     0
       ..
3928    1
544     1
367     1
1612    1
3550    1
Length: 500, dtype: int64

In [17]:
# Incorporación de label a df_sample_fake.
df_sample_fake["Label"] = ((len(df_sample.columns) - np.sum(df_sample == df_sample_fake, axis=1)) != 0) * 1

In [18]:
# Incorporación de label a df_1.
df_1["Label"] = 0

In [19]:
# Se convierten todos los atributos de df_1 a tipo object, excepto el atirbuto "Label".
for col in df_1.columns:
  if col != 'Label':
    df_1[col] = df_1[col].astype(object)

In [20]:
# Control de dtypes.
print(*df_1.dtypes)
print(*df_sample_fake.dtypes)

object object object object object object object object object object object object object object object object object object int64
object object object object object object object object object object object object object object object object object object int64

In [21]:
# Concatenación de df_1 y df_sample_fake.
df_combined = pd.concat([df_1, df_sample_fake])

# Ordenamiento de index.
df_combined = df_combined.sort_index()

In [22]:
# Control del index del dataframe.
df_combined.index.is_monotonic_increasing

True

In [23]:
# Control del variable label.
df_combined["Label"].value_counts()

Label
0    4583
1     417
Name: count, dtype: int64

In [24]:
# Impresion de df_combined a csv.
df_combined.to_csv("./database_combined.csv", index=False)